* {
	padding: 0;
	margin: 0;
}
html{
	background: #ffb8c6;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
.container{
	margin-left: auto;
	margin-right: auto;
	max-width: 1100px;
	padding: 0 20px;
}
.section__title{
	padding: 15px 0;
}
.header{
	height: 80px;
	color: #fff;
	text-align: center;
	background: #870488;
	vertical-align: middle;
	line-height: 80px;
	padding: 0 10px;
	position: fixed;
	top: 0;left: 0;right: 0;
}
.section{
	padding: 30px 0;
}
.button{
	text-align: center;
	text-decoration: none;
	line-height: 30px;
	border: 1px solid #fff;
	width: 90px;
	height: 30px;
	border-radius: 5px;
	outline: none;
	background: pink;
	font-size: 16px;
	transition: all linear .3s;
}
.button:hover{
	cursor: pointer;
	background: #eec3ff;
	transition: all linear .3s;
}
.button_small{
    text-align: center;
    text-decoration: none;
    outline: none;
    background: #ffeafb;
    font-size: 16px;
    border: 1px solid #fff0fc;
    padding: 4px 6px;
    margin-top: 10px;
    width: 90px;
    display: inline-block;
}
.button:hover,
.button_small:hover{
    cursor: pointer;
    background: #eec3ff;
    transition: all linear .3s;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}

h1,
nav,
nav li{
	display: inline-block;
}
.header__title{
	float: left;
	height: 100%;
}
nav{
	float: right;
}
nav li{
	margin: 0 5px;
	vertical-align: middle;
	line-height: 40px;
}
nav a{
	color: #fff;
	text-decoration: none;
	padding: 0 10px;
	font-weight: bold;
	font-size: 18px;
	height: 40px;
	border: 1px solid #fff;
	display: inline-block;
	transition: all linear .3s;
}
nav a:hover{
	background: #fff;
	color: #870488;
	transition: all linear .3s;
}

.home{
	min-height: 525px;
	background: #ffc5f5 url(../img/city.jpg) 50% no-repeat;
	background-size: cover;
	padding-top: 20px;
	margin-top: 80px;
}
.home__title{
	font-size: 40px;
	text-align: center;
	background: rgba(255, 255, 255, .6);
	padding: 15px;
	border-radius: 15px;
}
.price{
	min-height: 300px;
	background: #f97ce3;
	padding: 20px 0;
}
.tariff{
	width: 29.7%;
	height: 300px;
	display: inline-block;
	background: #FFF;
	border: 2px solid #470058;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	margin: 0 1.25%;
	text-align: center;
}
.tariff h2,
.tariff p{
	padding-top: 10px;
}
.tariff i{
	color: blue;
}
.tariff .button{
	font-size: 20px;
	height: 50px;
	width: 80%;
	margin-top: 20px;
}

/*EVENTS*/
.events{
	min-height: 300px;
	background: #fbd7d7;
}
.post {
    padding: 5px;
    border-bottom: 2px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.post img {
    border-radius: 7px;
    width: 20%;
    height: auto;
    float: left;
}
.post:after {
    display: block;
    clear: both;
    content: '';
}
.descriptions {
    display: inline-block;
    width: 75%;
}
.descriptions h2 {
    display: inline-block;
    padding-left: 10px;
}
.descriptions p {
    padding: 2px 0 2px 10px;
}
/*END EVENTS*/

.contact-us{
    background: #df8eff;
	text-align: center;
}

.form label{
	color: #FFF;
	display: block;
	padding: 20px 0 5px;
	text-align: left;
}
.form_home{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
    background: #9e12d6;
    border: 1px solid #fff;
    padding: 10px 15px;
    border-radius: 5px;
}

/*FOOTER*/
.footer{
	height: 40px;
	background: #470058;
	color: #fff;
	vertical-align: middle;
	line-height: 40px;
	font-weight: bold;
	bottom: 0;
	width: 100%;
}
.copyright{
	float: left;
}
.footer .button{
	float: right;
	margin-top: 5px;
	margin-left: 15px;
}
/*END FOOTER*/


.form_popup{
	width: 240px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: gray;
    border-radius: 10px;
}
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    cursor: default;
}
.overlay:target {
    display: block;
}
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    transform: translate(-50%, -500%);
    transition: transform 0.6s ease-out;
}
.overlay:target+.popup {
    transform: translate(-50%, 0);
    top: 20%;
}
.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    box-shadow: 0 0 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
/*--end popup--*/

.header i {
    float: right;
    margin-top: 16px;
    display: none;
}


@media screen and (max-width: 850px) {
    nav {
        position: absolute;
        top: -100%;
        width: 100%;
        left: 0;
    }
    .header i {
        display: block;
    }
    .action {
        height: 289px;
        transition: all cubic-bezier(0.6,-0.01, 0.49, 0.99) 0.4s;
    }
    .admin-page .action {
        height: 166px;
    }
    .action nav {
        position: absolute;
        top: 80px;
        width: 100%;
        left: 0;
    }
    .action nav li {
        display: block;
        margin: 0;
    }
    .action nav a {
        border: none;
        border-top: 1px solid blue;
        width: 100%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
}


/*table*/
.table {
    font-size: 18px;
    margin-left: 5%;
    padding-top: 20px;
    margin-top: 80px;
}
table {
    text-align: center;
    width: 90%;
}
thead {
    background: #f7caff;
}
thead td{
    padding: 15px 0;
}
tbody {
    background: #ffecec;
}
tbody td{
	padding: 10px 0;
}
.view {
    color: blue;
}
.edit {
    color: red;
}

.table__link{
    width: 100%;
    height: 100%;
    display: inline-block;
}



/*ADMIN POPUP*/
.admin-event_view h3{
    font-weight: 400;
}
.admin-event_view p{
    padding-bottom: 15px;
}

.form_admin input:not(.button_small){
    width: 238px;
}
/*END ADMIN POPUP*/
